!!! 5
%html
  %head
    %title Backbone.js Quickly
    %link{:href => 'stylesheets/screen.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', :type => 'text/javascript'}
    %script{:src => 'javascripts/underscore-min.js', :type => 'text/javascript'}
    %script{:src => 'javascripts/backbone-min.js', :type => 'text/javascript'}
    %script{:src => 'javascripts/config.js', :type => 'text/javascript'}
    %script{:src => 'javascripts/application.js', :type => 'text/javascript'}

    %script{:id => 'imageTemplate', :type => 'text/html'}
      %a{:href => 'javascript: void(0)'}
        %img{:src => 'http://flickholdr.com/110/110/{{model.term}}/{{model.offset}}', :width => 110, :height => 110 }

    :javascript
      $(function() { App.start(); })

  %body
    #container
      %header.page-header
        %ul#todo

        %h1 
          %a{:href => '/'} Backbone.js Quickly
          %small Let's Create A Backbone.js Application From Scratch!

      #content
        %section#favorites
          %h1 My Favs
          %p No favorites yet?  Man, you're picky!
          %ul.media-grid

        %input{:type => 'text', :id => 'search'}

        %section#search-results
          %h1 Search Results
          %ul.media-grid

      %footer
        %small 
          powered by 
          %a{:href => 'https://github.com/joeybeninghove/fun'} fun
        %img{:src => 'http://f.cl.ly/items/3F0N3P1R410n031Q271a/logo-small.png', :alt => '30 Cubits'}
